<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.system.springbootv1.project.dao.ISysMenuDao">
    <resultMap id="SysMenu" type="com.system.springbootv1.project.model.SysMenu">
        <id column="Id" jdbcType="VARCHAR" property="Id"/>
        <result column="Name" jdbcType="VARCHAR" property="name"/>
        <result column="Description" jdbcType="VARCHAR" property="description"/>
        <result column="Url" jdbcType="VARCHAR" property="url"/>
        <result column="Path" jdbcType="VARCHAR" property="path"/>
        <result column="IsBlank" jdbcType="INTEGER" property="isBlank"/>
        <result column="PId" jdbcType="VARCHAR" property="pId"/>
        <result column="Icon" jdbcType="VARCHAR" property="icon"/>
        <result column="Perms" jdbcType="VARCHAR" property="perms"/>
        <result column="Type" jdbcType="INTEGER" property="type"/>
        <result column="Order" jdbcType="INTEGER" property="order"/>
        <result column="Visible" jdbcType="INTEGER" property="visible"/>
        <result column="Creator" jdbcType="VARCHAR" property="creator"/>
        <result column="CreateTime" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="Modifier" jdbcType="VARCHAR" property="modifier"/>
        <result column="ModifyTime" jdbcType="TIMESTAMP" property="modifyTime"/>
        <result column="childCount" jdbcType="INTEGER" property="childCount"/>
    </resultMap>
    <sql id="Base_Column_List">
        `Id`, `Name`, `Description`, `Url`,`Path`,`IsBlank`,`PId`,`Perms`,`Type`,`Icon`,`Order`,`Visible`,`Creator`, `CreateTime`,`Modifier`, `ModifyTime`
    </sql>
    <insert id="insert" parameterType="com.system.springbootv1.project.model.SysMenu">
        insert into sys_menu (<include refid="Base_Column_List"/>)
        values (
        #{Id,jdbcType=VARCHAR},
        #{name,jdbcType=VARCHAR},
        #{description,jdbcType=VARCHAR},
        #{url,jdbcType=VARCHAR},
        #{path,jdbcType=VARCHAR},
        #{isBlank,jdbcType=INTEGER},
        #{pId,jdbcType=VARCHAR},
        #{perms,jdbcType=VARCHAR},
        #{type,jdbcType=INTEGER},
        #{icon,jdbcType=VARCHAR},
        #{order,jdbcType=INTEGER},
        #{visible,jdbcType=INTEGER},
        #{creator,jdbcType=VARCHAR},
        #{createTime,jdbcType=TIMESTAMP},
        #{modifier,jdbcType=VARCHAR},
        #{modifyTime,jdbcType=TIMESTAMP})
    </insert>
    <update id="update" parameterType="com.system.springbootv1.project.model.SysMenu">
        update sys_menu
        <set>
            <if test="name != null">
                `Name` = #{name,jdbcType=VARCHAR},
            </if>
            <if test="description != null">
                `Description` = #{description,jdbcType=VARCHAR},
            </if>
            <if test="url != null">
                `Url` = #{url,jdbcType=VARCHAR},
            </if>
            <if test="path != null">
                `Path` = #{path,jdbcType=VARCHAR},
            </if>
            <if test="isBlank != null">
                `IsBlank` = #{isBlank,jdbcType=INTEGER},
            </if>
            <if test="pId != null">
                `PId` = #{pId,jdbcType=VARCHAR},
            </if>
            <if test="icon != null">
                `Icon` = #{icon,jdbcType=VARCHAR},
            </if>
            <if test="perms != null">
                `Perms` = #{perms,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                `Type` = #{type,jdbcType=INTEGER},
            </if>
            <if test="order != null">
                `Order` = #{order,jdbcType=INTEGER},
            </if>
            <if test="visible != null">
                `Visible` = #{visible,jdbcType=INTEGER},
            </if>
            <if test="creator != null">
                `Creator` = #{creator,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                `CreateTime` = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="modifier != null">
                `Modifier` = #{modifier,jdbcType=VARCHAR},
            </if>
            <if test="modifyTime != null">
                `ModifyTime` = #{modifyTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where Id = #{id,jdbcType=VARCHAR}
    </update>
    <delete id="deleteByIds" parameterType="java.util.List">
        delete from `sys_menu`
        where `Id` in
        <foreach collection="list" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>

    </delete>
    <select id="getMenuByUserId" parameterType="java.lang.String" resultMap="SysMenu">
        select
        menu.*, (SELECT count(1)FROM sys_menu WHERE PId = menu.Id and `Type` != 2) as childCount
        from sys_menu menu
        <if test="userId != 1 and userId != null">
            left join sys_permission permission on menu.Id = permission.MenuId
            LEFT JOIN sys_role role on permission.RoleId = role.Id
            LEFT JOIN sys_role_user roleuser on role.Id = roleuser.RoleId
            left join sys_user user on roleuser.UserId = user.Id
        </if>
        where menu.Type != 2
        <if test="userId != 1 and userId != null">
            and user.Id = #{userId,jdbcType=VARCHAR}
        </if>
        order by menu.Order asc
    </select>

    <select id="list" parameterType="java.util.Map" resultMap="SysMenu">
        select
        <include refid="Base_Column_List"/>
        from `sys_menu`
        where 1=1
        order by `Order` asc
    </select>
    <select id="getById" parameterType="java.lang.String" resultMap="SysMenu">
        select
        <include refid="Base_Column_List"/>
        from `sys_menu`
        where `Id` = #{id,jdbcType=VARCHAR}
    </select>
    <select id="getByPId" parameterType="java.lang.String" resultMap="SysMenu">
        select
        <include refid="Base_Column_List"/>
        from `sys_menu`
        where `PId` = #{pid,jdbcType=VARCHAR}
    </select>
    <select id="getMenuByRole" parameterType="java.lang.String" resultType="java.lang.String">
        select `MenuId`
        from `sys_permission`
        where `RoleId` = #{roleId,jdbcType=VARCHAR}
    </select>

    <select id="selectList" parameterType="com.system.springbootv1.project.model.SysMenu" resultMap="SysMenu">
        select
        <include refid="Base_Column_List"/>
        from `sys_menu`
        where 1=1
        <if test="name != null and name != ''">
            and `Name` like concat('%', #{name}, '%')
        </if>
        <if test="beginTime != null and beginTime != ''"><!-- 开始时间检索 -->
            AND date_format(`CreateTime`,'%y%m%d') &gt;= date_format(#{beginTime},'%y%m%d')
        </if>
        <if test="endTime != null and endTime != ''"><!-- 结束时间检索 -->
            AND date_format(`Create_time`,'%y%m%d') &lt;= date_format(#{endTime},'%y%m%d')
        </if>
        order by `Order` asc
    </select>

    <select id="selectListByUser" parameterType="com.system.springbootv1.project.model.SysMenu" resultMap="SysMenu">
        select
        <include refid="Base_Column_List"/>
        from `sys_menu` menu
        left join sys_permission permission on menu.Id = permission.MenuId
        LEFT JOIN sys_role role on permission.RoleId = role.Id
        LEFT JOIN sys_role_user roleuser on role.Id = roleuser.RoleId
        left join sys_user user on roleuser.UserId = user.Id
        where user.Id = #{params.userId}
        <if test="name != null and name != ''">
            and `Name` like concat('%', #{name}, '%')
        </if>
        <if test="beginTime != null and beginTime != ''"><!-- 开始时间检索 -->
            AND date_format(`CreateTime`,'%y%m%d') &gt;= date_format(#{beginTime},'%y%m%d')
        </if>
        <if test="endTime != null and endTime != ''"><!-- 结束时间检索 -->
            AND date_format(`Create_time`,'%y%m%d') &lt;= date_format(#{endTime},'%y%m%d')
        </if>
        order by menu.`Order` asc
    </select>

    <delete id="deleteById" parameterType="java.lang.String">
        delete from `sys_menu` where `Id` = #{menuId}
    </delete>

    <select id="hasChildByMenuId" parameterType="java.lang.String" resultType="Integer">
	    select count(1) from `sys_menu` where `PId` = #{menuId}
	</select>
</mapper>