<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.system.springbootv1.dao.ISysQuartzJobLogDao">
  <resultMap id="SysQuartzJobLog" type="com.system.springbootv1.model.SysQuartzJobLog">
    <id column="Id" jdbcType="VARCHAR" property="id" />
    <result column="JobName" jdbcType="VARCHAR" property="jobName" />
    <result column="JobGroup" jdbcType="VARCHAR" property="jobGroup" />
    <result column="InvokeTarget" jdbcType="VARCHAR" property="invokeTarget" />
    <result column="JobMessage" jdbcType="VARCHAR" property="jobMessage" />
    <result column="Status" jdbcType="INTEGER" property="status" />
    <result column="ExceptionInfo" jdbcType="VARCHAR" property="exceptionInfo" />
    <result column="StartTime" jdbcType="TIMESTAMP" property="startTime" />
    <result column="EndTime" jdbcType="TIMESTAMP" property="endTime" />
  </resultMap>
  <sql id="Base_Column_List">
    Id, JobName, JobGroup, InvokeTarget, JobMessage, Status, ExceptionInfo, StartTime, 
    EndTime
  </sql>
    <select id="list" parameterType="java.util.Map" resultMap="SysQuartzJobLog">
        select
        <include refid="Base_Column_List"/>
        from `sys_quartz_job_log`
        where 1=1
        <if test="search != null">
            and (`JobName` like '%${search}%' or `JobGroup` like '%${search}%')
        </if>
        <if test="sort != null">
            order by ${sort}
        </if>
        <if test="sort == null">
            order by `Id` desc
        </if>
    </select>
    <delete id="deleteByIds" parameterType="java.util.List">
        delete from `sys_quartz_job_log`
        where `Id` in
        <foreach collection="list" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
  <insert id="insert" parameterType="com.system.springbootv1.model.SysQuartzJobLog">
    insert into sys_quartz_job_log (Id, JobName, JobGroup, 
      InvokeTarget, JobMessage, Status, 
      ExceptionInfo, StartTime, EndTime
      )
    values (#{id,jdbcType=VARCHAR}, #{jobName,jdbcType=VARCHAR}, #{jobGroup,jdbcType=VARCHAR},
      #{invokeTarget,jdbcType=VARCHAR}, #{jobMessage,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER},
      #{exceptionInfo,jdbcType=VARCHAR}, #{startTime,jdbcType=TIMESTAMP}, #{endTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <update id="update" parameterType="com.system.springbootv1.model.SysQuartzJobLog">
    update sys_quartz_job_log
    <set>
      <if test="jobName != null">
        JobName = #{jobName,jdbcType=VARCHAR},
      </if>
      <if test="jobGroup != null">
        JobGroup = #{jobGroup,jdbcType=VARCHAR},
      </if>
      <if test="invokeTarget != null">
        InvokeTarget = #{invokeTarget,jdbcType=VARCHAR},
      </if>
      <if test="jobMessage != null">
        JobMessage = #{jobMessage,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        Status = #{status,jdbcType=INTEGER},
      </if>
      <if test="exceptionInfo != null">
        ExceptionInfo = #{exceptionInfo,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null">
        StartTime = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        EndTime = #{endTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where Id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>